nav {
  display: flex;
  justify-content: space-around;
  height: 8vh;
  align-items: center;
  background-color: #f7f7f7;
}

nav .standard-menu {
  display: flex;
  justify-content: space-between;
  width: 50%;
  list-style: none;
}

@media only screen and (max-width: 425px) {
  nav .standard-menu {
    display: none;
  }

  .hamburger-icon {
    border: none;
    background-color: #f7f7f7;
  }

  .hamburger-icon .line {
    border: 2px solid black;
    width: 20px;
    margin: 5px;
    background-color: black;
  }

  .mobile-menu {
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    width: 42%;
    background-color: gray;
    right: 0;
    animation-duration: 0.75s;
    animation-name: slide-in-from-right;
  }

  .mobile-menu ul {
    list-style: none;
    margin: 30%;
  }

  .mobile-menu li {
    margin-bottom: 50px;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .mobile-menu a {
    text-decoration: none;
    color: red;
  }

  @keyframes slide-in-from-right {
    from {
      right: -400px;
    }
    to {
      right: 0px;
    }
  }
}
